<h1>Formulario de pago [BORRADOR]</h1>

    <% if notice %>
      <p><%= notice %></p>
    <% end %>

<%= form_with(model: @payment, local: true) do |form| %>

  <div class="field"> 
    <%= form.label :order_id %>
    <%= form.number_field :order_id %>
  </div>

  <div class="field"> 
    <%= form.label "Select Payment Method" %>
    <%= form.collection_select(:payment_method_id, @payment_methods, :id, :name)  %>
  </div>

  <div>
    <h4>Escoge la opción transbank</h4>
    <div class="field"> 
      <%= form.label "Select Payment Method" %>
      <%= form.collection_select(:option_id, @payment_methods.find(3).options, :id, :name)  %>
    </div>
  </div>

  <%= form.submit "Pay" %>

<% end %>
